body{
    background-image: url(formbg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

h1{
    color:rgb(20, 100, 56);
    font-size: xx-large;
}
.text{
     padding: 8px;
     width:48%;
     border-radius: 12px;
     background-color: rgb(147, 223, 147);
     border: 12px;
     
}
.area{
    padding: 15px;
    width:75%;background-color: rgb(147, 223, 147);
}
.dropd{
    width:48%;
    border-radius: 12px;
    padding: 8px;background-color: rgb(147, 223, 147);
}
.dropdown{
    padding: 8px;
    border-radius: 12px;background-color: rgb(147, 223, 147);}
.button{
    width:60%;
    padding: 12px;
    background-color:rgb(209, 49, 102);
    color: aliceblue;
    margin: 5%;
}